# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node / Vite
**/node_modules/
**/dist/
**/.vite/
**/.env
**/.env.*
!**/.env.example

# Java / Maven
**/target/
**/*.log

# Misc
*.iml

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
